@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply mt-4 block w-full md:w-auto py-3 px-5 text-center shadow-md font-medium border inline-block px-8 py-4 rounded-lg focus:ring focus:ring-offset-2 focus:ring-gray-300 focus:ring-opacity-50 uppercase tracking-wider font-semibold text-sm cursor-pointer transition duration-300 ease-in-out;
    }

    .btn-primary {
        @apply text-brand-white bg-brand-green hover:bg-brand-white hover:border-brand-green hover:text-brand-green-dark focus:ring-2 focus:ring-offset-1 focus:ring-brand-green;
    }

    .btn-secondary {
        @apply bg-brand-white text-brand-black hover:bg-brand-green hover:text-brand-white ;
    }

    .btn-small {
        @apply border inline-flex items-center px-4 py-2 shadow-sm text-sm font-medium rounded-lg cursor-pointer transition duration-300 ease-in-out;
    }

    .btn-small-primary {
        @apply bg-brand-green text-brand-white hover:bg-brand-white hover:text-brand-green-dark focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-brand-green
    }

    .btn-small-secondary {
        @apply bg-brand-white text-brand-black hover:bg-brand-green hover:text-brand-white;
    }

    .btn-small-delete {
        @apply bg-brand-white text-brand-black hover:text-brand-white hover:bg-brand-funcRed;
    }

    .input-field {
        @apply focus:ring-brand-green py-2 block w-full sm:text-sm border-gray-300 rounded-lg placeholder-opacity-50 placeholder-gray-500
    }

}
.ping {
    border: 2px solid #084945;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    position: absolute;
    left: 15px;
    top: 15px;
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
}
.ping:before {
    content: "";
    display: block;
    border: 2px solid #084945;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    left: -8px;
    top: -8px;
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite;
    animation-delay: 0.1s;
    opacity: 0;
}
.ping:after {
    content: "";
    display: block;
    border: 2px solid #084945;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    left: -18px;
    top: -18px;
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
    opacity: 0;
}
@keyframes pulsate {
    0% {
        transform: scale(0.5, 0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #6EEFE6;
    color: #6EEFE6;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #6EEFE6;
    color: #6EEFE6;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
}

.dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #6EEFE6;
    color: #6EEFE6;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dotFlashing {
    0% {
        background-color: #084945;
    }
    50%,
    100% {
        background-color: #dcf6f4;
    }
}
